/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

body {
  font-size:10px;
  font: sans-serif;
  line-height: 1.6;
  letter-spacing: 4px;
  word-spacing: 4px;
  p::first-line {
    text-indent:20px;
  }
}
h1 {
  font-size:20px;
  font: serif;
  float: center;
  letter-spacing: 5px;
}
h2 {
  font-size:15px;
  font: serif;
  letter-spacing: 5px;
}

a {
  outline-color: transparent;
}

a:link {
  color:#a66;
  text-decoration: underline;
}

a:visited {
  color:#865454;
  text-decoration: underline;
}

a:focus {
  color:#cd5c5c;
  text-decoration: none;
}

a:hover {
  color:#ff0000;
  text-decoration: none;
}

a:active {
  color:#a66;
  text-decoration: none;
}

article a[href^="http"]::after,
article a[href^="https://"]::after
  {
    content: "";
    width: 11px;
    height: 11px;
    margin-left: 4px;
    background-image: url("SchoolWebsite/external-link-52.png' width='16' height='16' ");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
  }
